:root {
  --black: #191414;
  --white: #ffffff;
  --green: #1db954;
  --dark-green: #15883e;
  --light-green: #1cb955;
}

.container {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  background-color: var(--black);
  text-align: center;
  justify-content: center;
}

.title {
  font-size: 54px;
  color: var(--white);
}

.subtitle {
  font-size: 18px;
  color: var(--white);
}

.greenBtn {
  background-color: var(--green);
  color: var(--white);
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-radius: 30px;
  border-color:  var(--green)
}
.greenBtn:hover {
  background-color: var(--light-green);
}
.greenBtn:active {
  background-color: var(--dark-green);
}

.center {
  align-items: center;
}